.myHeader > th {
  border-bottom: 1px solid #ddd;
}

.myRows > td {
  border-bottom: 1px solid #ddd;
  font-size: 15;
}

.myRows:hover {
  background-color: #f5f5f5;
}

.myRows:nth-child(even) {
  background-color: #f2f2f2;
}
